/* //////////////////////////////////////////////CSS RESET////////////////////////////////////////////// */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
/* ///////////////////////////////VARIABLES AND UTILITY CLASSES////////////////////////// */

:root {
  --color-primary-green: #b7ff1a;
  --color-primary-red: #ff5151;
  --color-primary-yellow: #ffde5e;
  --color-primary-grey: #0e0e0e;

  --color-secondary-light-green: #eaffd5;

  --color-test-1: rgba(135, 255, 126, 0.94);
  --color-test-2: rgba(255, 200, 0, 0.8);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.6);
  --shadow-light: 0 2rem 5em rgba(0, 0, 0, 0.3);
  --shadow-dark-white: 0 2rem 4rem rgba(255, 255, 255, 1.3);
  --shadow-dark-black: 0 2rem 4rem rgba(0, 0, 0, 1.3);
}
.margin-top-medium {
  margin-top: 10rem;
}
.margin-top-large {
  margin-top: 15rem;
}
.margin-top-huge {
  margin-top: 35rem;
}
/* ///////////////////////////////KEYFRAMES ANIMATIONS////////////////////////// */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  50% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* //////////////////////////////HTML BASIC (FONT SIZE ADJUSTED SO 10PX = 1REM)///////////////////////////////////////// */
html {
  font-size: 62.5%; /*  // 1rem === 10px */
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 68.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 28em) {
  html {
    font-size: 40%;
  }
}

/* //////////////////////////////GRID CONTAINER///////////////////////////////////////// */

.container-grid {
  display: grid;
  position: relative;

  grid-template-columns:
    [full-start] minmax(6rem, 1fr) repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    minmax(6rem, 1fr) [full-end];
}
/* //////////////////////////////NAVIGATION///////////////////////////////////////// */
.navigation-bar {
  grid-column: full-start / full-end;
  background-color: #080808;

  box-shadow: var(--shadow-dark);
  border-bottom: #fff solid;
  border-top: #fff solid;
  border-radius: 2.3rem;
  height: 10rem;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;

  text-shadow: -3px -2px 4px #080808;
  font-family: "Alfa Slab One", cursive, sans-serif;
  font-size: 2rem;
}
.logo {
  width: 12rem;
  transition: all 0.5s;
  min-height: 10rem;
  min-width: 10rem;
  position: relative;
}
.logo img {
  min-width: 12rem;
}

.logo:hover {
  transform: scale(1.1);
}
.navigation-bar ul {
  list-style: none;
  display: flex;
  margin-right: 9rem;
}
.navigation-bar ul li {
  padding: 10px 30px;
  position: relative;
}
.navigation-bar ul li a {
  color: var(--color-primary-red);
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.3s;
}
.navigation-bar ul li a:hover {
  color: #ffffff;
  text-shadow: var(--shadow-dark-white);
  transition: all 0.3s;
}
.navigation-bar ul li:hover .nav-arrow {
  transform: rotate(90deg);
  transition: all 0.2s;
}

.nav-arrow {
  margin-top: 1px;
  width: 20px;
  height: 20px;
  fill: white;
}

.dropdown-menu {
  display: none;
}
.navigation-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: -11px;

  border: #fff solid;
  border-radius: 7px;
  border-width: 2px;

  background-color: #080808;
}

.navigation-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}
.navigation-bar ul li:hover .dropdown-menu ul li {
  padding: 15px;
}

/* /////////////////////////HAMBURGER MENU///////////////////////// */
label {
  font-size: 26px;
  position: fixed;
  top: 2rem;
  right: 2rem;
  color: #000;
  line-height: 50px;
  width: 26px;
  display: none;
  z-index: 10000;
}
#toggle {
  display: none;
}
@media only screen and (max-width: 950px) {
  label {
    position: fixed;

    display: block;
    cursor: pointer;
    font-size: 6rem;
    width: 8rem;
    height: 8rem;

    background-color: #fff;
    border-radius: 50%;
    padding-left: 1.5rem;
    padding-top: 0.8rem;
  }

  .navigation-bar {
    display: none;
  }
  .logo img {
    min-width: 23rem;
  }

  #toggle:checked + .navigation-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2rem;
    width: 100%;
    max-width: 100%;
    align-items: start;
    font-size: 2.5rem;
  }

  #toggle:checked + .navigation-bar ul {
    flex-direction: column;
  }
  #toggle:checked + .navigation-bar ul li:hover .dropdown-menu {
    position: relative;
  }
}
@media only screen and (max-width: 48em) {
  #toggle:checked + .navigation-bar {
    font-size: 1.5rem;
  }
}

/* //////////////////////////////FRONT PAGE BACKGROUND AND SECTION///////////////////////////////////////// */

.section-header {
  grid-column: full-start / full-end;
  height: 100%;
  background-image: linear-gradient(
      to top,
      rgba(144, 242, 0, 0.52),
      rgba(255, 255, 255, 0.86),
      rgba(255, 255, 255)
    ),
    url(../img/puisto-tausta.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 12rem;
}
/* //////////////////////////////HEADER AND HEADER IMAGES///////////////////////////////////////// */

.container-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;

  width: 50%;

  align-items: center;
}
.heading-primary-logo {
  padding-bottom: 10rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media only screen and (max-width: 87.5em) {
  .heading-primary-logo {
    padding-bottom: 3rem;
  }
}

.heading-img {
  width: 80rem;
  margin-top: 10rem;
}

.animation {
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.container-header__img {
  rotate: -5deg;
  filter: drop-shadow(var(--shadow-dark));
  width: 50%;
  margin-top: 8rem;
}
.header-img {
  clip-path: polygon(0% 8%, 100% 8%, 100% 100%, 1% 98%);
  object-fit: cover;
  max-width: 95%;
}
@media only screen and (max-width: 87.5em) {
  .container-header {
    display: flex;
    flex-direction: column;
  }
  .header-content {
    width: 80%;
  }
  .heading-paragraph-container {
    display: flex;
    width: 100%;
  }
}
/* //////////////////////////////PARAGRAPH STYLES H1-H5 ,P///////////////////////////////////////// */

.heading-secondary {
  font-family: "Alfa Slab One", cursive, sans-serif;
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    var(--color-primary-red),
    var(--color-primary-yellow)
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  letter-spacing: 2px;
}
@media only screen and (max-width: 28em) {
  .heading-secondary {
    font-size: 4rem;
  }
}

.paragraph {
  color: var(--color-primary-grey);

  font-size: 6rem;

  line-height: 8rem;
}
@media only screen and (max-width: 48em) {
  .paragraph {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
}
.paragraph-primary {
  font-size: 2.15rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 3px;

  color: #fff;
}
.paragraph-secondary {
  color: var(--color-primary-grey);
  font-size: 3rem;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 3px;
}
.paragraph-summerjob {
  color: var(--color-primary-grey);
  font-size: 4rem;
  background-color: #fff;
  margin-top: 3rem;
  line-height: 7rem;
  box-shadow: 0 3.5rem 3rem rgb(255 255 255 / 70%);
  border-style: solid;
  border-color: var(--color-primary-grey);
  border-radius: 8px;

  border-width: 4px;
}
@media only screen and (max-width: 48em) {
  .paragraph-summerjob {
    font-size: 3rem;
    line-height: 4rem;
    border: none;
  }
}
.kioskit-heading {
  font-family: "Alfa Slab One", cursive, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  position: relative;
  color: var(--color-primary-yellow);
  text-shadow: -3px -2px 4px #080808;
}
.item h3::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1000000;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 100%;
}
/* /////////////////////////////// SECTION ABOUT/////////////////////////////////////////////////////////// */
.section-about {
  grid-column: 1 / -1;

  background-color: #f7f7f7;
  position: relative;
}
.container-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  margin-top: 20rem;
}
@media only screen and (max-width: 87.5em) {
  .container-about {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 68.5em) {
  .container-about {
    margin-bottom: -10rem;
  }
}
@media only screen and (max-width: 48em) {
  .container-about {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}
@media only screen and (max-width: 48em) {
  .container-about > * {
    margin: 5rem;
    text-align: center;
    padding-bottom: 10rem;
  }
}
@media only screen and (max-width: 48em) {
}
.col-about-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
@media only screen and (max-width: 48em) {
  .col-about-1 {
    order: 1;
  }
}
.col-about-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

@media only screen and (max-width: 48em) {
  .col-about-2 {
    order: 2;
  }
}
@media only screen and (max-width: 48em) {
  .col-about-3 {
    order: 3;
  }
}
.col-about-3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
@media only screen and (max-width: 48em) {
  .col-about-3 {
    order: 4;
  }
}
.col-about-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
@media only screen and (max-width: 48em) {
  .col-about-4 {
    order: 3;
  }
}
.col-about-4,
.col-about-1 {
  padding: 11rem;
}
@media only screen and (max-width: 87.5em) {
  .col-about-4,
  .col-about-1 {
    padding: 6rem;
  }
}
@media only screen and (max-width: 48em) {
  .col-about-4,
  .col-about-1 {
    padding: 0rem;
  }
}

.img-container {
  position: relative;
  height: 23vw;
}
@media only screen and (max-width: 48em) {
  .img-container {
    height: 40vw;
  }
}

.composition-photo {
  box-shadow: var(--shadow-light);
  width: 50%;

  transition: all 0.4s;
  border-radius: 1rem;
  position: absolute;

  filter: brightness(1.3);
}
.composition-photo:hover {
  outline: 1px solid rgba(17, 15, 3, 0.3);
  transform: scale(1.2) translateY(-0.5rem);
  box-shadow: var(--shadow-dark);
  z-index: 20;
}

.container-img:hover .container-img:not(:hover) {
  transform: scale(0.95);
}
.composition-photo--1 {
  left: 7%;

  rotate: -5deg;
}
.composition-photo--2 {
  right: 3%;
  rotate: 5deg;
}
.composition-photo--3 {
  left: 20%;

  top: 20rem;
  z-index: 1;
  rotate: -2deg;
}
/* /////////////////////////////// SECTION CALENDAR/////////////////////////////////////////////////////////// */
.section-calendar {
  grid-column: 1 /-1;
  position: relative;
  background-color: #fff450;
  padding-bottom: 5rem;
}

.container-calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 8rem;
}
.open-text {
  padding: 6rem 2rem;
  font-size: 3rem;
  background-image: linear-gradient(to left, #c4dd22, #eaffd5);
  width: 80%;
  margin: 0 auto;
  border-radius: 2rem;

  display: none;
  box-shadow: var(--shadow-dark);
}
.nokkis-figure {
  position: relative;
}
.calendar-info {
  background-image: linear-gradient(
    to right,
    var(--color-primary-green),
    var(--color-secondary-light-green)
  );
  box-shadow: var(--shadow-dark);
  rotate: 3deg;
  width: 40%;

  border-radius: 2rem;
  padding: 3rem 4rem;
  transition: all 0.4s;
}

@media only screen and (max-width: 48em) {
  .calendar-info {
    width: 83%;
  }
}
.calendar {
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5rem;
  width: 45rem;
  height: 66rem;
  background-color: #fff;
  box-shadow: var(--shadow-dark);

  transition: all 0.4s;
  rotate: -2deg;
}
.calendar:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow-very-dark);
}

/* ///////////////////////////////CALENDAR JAVASCRIPT CLASSES ASWELL/////////////////////////////////////////////////////////// */

.month {
  width: 100%;
  height: 26rem;
  background-image: linear-gradient(
    to left,
    var(--color-primary-green),
    var(--color-secondary-light-green)
  );
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
  margin-bottom: 2.5rem;
}
.month h1 {
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.month p {
  font-size: 1.6rem;
}
.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem #fff;
  transition: background-color 0.2s;
}
.days div:not(.today) {
  background-color: (var(--color-primary-red));
}
.days div:hover:not(.today) {
  background-color: #ebebeb;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  color: #262626;
  background-color: var(--color-primary-yellow);
}
.days div.open {
  background-color: #7ef596;
}

.calendar-img {
  position: absolute;
  top: 0;
  left: 4rem;
  margin-top: 3rem;
  max-width: 83%;
}

/* /////////////////////////////// SECTION FOOD-SNACKS/////////////////////////////////////////////////////////// */

.food-snacks {
  grid-column: full-start / full-end;

  position: relative;
  background-color: #b7a170;
}
.food-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  gap: 4rem;
  justify-items: center;
}
.kioski-img {
  border-radius: 50%;
  min-width: 45rem;
  max-height: 40rem;
  object-fit: cover;

  min-height: 40rem;
}

.item {
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7rem;
  min-width: 36rem;
  max-width: 25vw;
  gap: 4rem;
}

/* /////////////////////////////// SECTION DIVIDER SVG/////////////////////////////////////////////////////////// */

.custom-shape-divider-top-1676036304 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1676036447 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1676036447 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.custom-shape-divider-top-1676036447 .shape-fill {
  fill: #fff450;
}
.divider {
  grid-column: full-start / full-end;
  margin-bottom: -30rem;
  z-index: 10;
}
.divider .shape-fill-1 {
  fill: #b7a170;
}
/* /////////////////////////////// FOOTER/////////////////////////////////////////////////////////// */
footer * {
  margin: 0;
  padding: 0;
}
.footer-wrapper {
  grid-column: full-start / full-end;
}
.footer {
  z-index: 1;
  background-color: var(--color-primary-grey);
  padding: 30rem 0;
}
.container-footer {
  max-width: 117rem;
  margin: auto;
  z-index: 1000;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul {
  list-style: none;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 3.5rem;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 5rem;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
.logo-footer {
  min-width: 100%;
}
.logo-svg {
  width: 100%;
  height: 100%;
}
.social-links {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.footer-col .info-icons {
  width: 2rem !important;
  height: 2rem !important;
}
.footer-col .social-icons {
  width: 3rem;
  height: 3rem;
  fill: gray;
  transition: all 0.3s ease;
}
.footer-col .social-icons:hover {
  fill: #fdfdfd;
}

.contact-info li {
  display: flex;
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  align-items: center;
  gap: 10px;
}
@media (max-width: 48em) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 48em) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 34em) {
  .footer-col {
    width: 51%;
  }
}

/* 
.rides-container{
  display: grid;
  automaattisesti laskee columnit responsive
  grid-template-columns:repeat(auto-fit,minmax 15rem, 1fr);
} */
.custom-shape-divider-bottom-1676110006 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676110006 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 167px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1676110006 .shape-fill-1 {
  fill: #f7f7f7;
}
