* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

.calender {
  border-radius: 5px;
  width: 45rem;
  height: 66rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 26rem;
  background-image: linear-gradient(to left, #c4dd22, #eaffd5);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
  margin-bottom: 2.5rem;
}
.month h1 {
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.month p {
  font-size: 1.6rem;
}
.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.8rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}
.days div:not(.today) {
  background-color: #dd4f4f;
}
.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  color: #fff;
  background-color: #000000a3;
}
.days div.open {
  background-color: #7ef596;
}
.open {
  background-color: red;
}

.calendar-img {
  position: absolute;
  top: 0;
  left: 4rem;
  margin-top: 3rem;
}

.navigation-bar {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to left, #b7ff1a, #ffde5e, #b7ff1a);
  box-shadow: var(--shadow-dark);
  border-bottom: white solid;
  border-top: white solid;
  border-radius: 2rem;
  height: 10rem;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;

  text-shadow: 2px 3px 1px #000;
  font-family: "Alfa Slab One", cursive, sans-serif;
  font-size: 2rem;
}
.logo {
  width: 12rem;
}

.navigation-bar ul {
  list-style: none;
  display: flex;
}
.navigation-bar ul li {
  padding: 10px 30px;
  position: relative;
}
.navigation-bar ul li a {
  color: #ff5151;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.3s;
}
.navigation-bar ul li a:hover {
  color: black;

  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-menu {
  display: none;
}
.navigation-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 1;
  top: 150%;

  border: #000 solid;
  border-width: 1px;
  background-image: linear-gradient(#ffe65c, #000);
  border-radius: 5px;
}

.navigation-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
  font-size: 1.5rem;
}
.navigation-bar ul li:hover .dropdown-menu ul li {
  width: 15rem;
  padding: 10px;
}
